@font-face { font-family: poppins-regular; 
			 src: url('https://github.com/lhaworth1985/public/blob/main/Poppins-Regular.ttf'); } 
h1{
	font-family: poppins-regular;
}
h2{
	font-family: poppins-regular;
}
p{
	font-family: poppins-regular;
}
h3{
	font-family: poppins-regular;
}
h4{
	font-family: poppins-regular;
}
h5{
	font-family: poppins-regular;
}